@page "{type}/{a:double:maxlength(5)}/{b:double:maxlength(5)}"
@model RoutingEksempel.Pages.calc.CalculateModel

@{
    ViewData["Title"] = "Calculate";
}

<p>Calculation: @Model.Calculation</p>
<h1>Result: @Model.Result</h1>
